.hero {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}

.hero .overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.38);
  position: absolute;
}

.hero-text {
  /* padding-left: 30%; */
  /* padding-right: 50%; */
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.1rem;
}

.hero .bar-container {
  position: relative;
}

.bar-container .top-bar {
  position: absolute;
  top: -0.5rem;
  left: -18rem;
  width: 36rem;
  height: 0.3rem;
  background-color: #99ddda;
}

.bar-container .bottom-bar {
  position: absolute;
  top: 4.8rem;
  left: -18rem;
  width: 36rem;
  height: 0.3rem;
  background-color: #99ddda;
}

.bar-container .left-bar {
  position: absolute;
  top: 2.2rem;
  right: 14.5rem;
  width: 1.1rem;
  height: 0.5rem;
  background-color: white;
}

.bar-container .right-bar {
  position: absolute;
  top: 2.2rem;
  left: 14.3rem;
  width: 1.1rem;
  height: 0.5rem;
  background-color: white;
}

.hero-text h1 {
  font-family: "dancing script";
  font-size: 3.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.hero button {
  cursor: pointer;
}

.hero p {
  text-align: center;
  max-width: 330px;
}
