.about {
  height: 100vh;
  width: 100%;
  position: relative;
}

.about img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.about .overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.55);
}

.about-text {
  /* padding-left: 34%; */
  /* padding-right: 50%; */
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.about-text h1 {
  font-family: "dancing script";
  font-size: 5.3rem;
  font-weight: 700;
  margin-bottom: 0.1rem;
}

.about button {
  cursor: pointer;
}

.about p {
  text-align: center;
  max-width: 330px;
  letter-spacing: 0.01rem; 
}
