.contact {
  width: 100%;
  height: 100vh;
  position: relative;
}

.contact img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.contact .overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.contact .form-container {
  padding-right: 32%;
  padding-bottom: 6rem;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.contact h1 {
  font-size: 4.3rem;
  font-weight: 700;
  font-family: "dancing script";
  margin-bottom: 2rem;
  text-align: center;
}

.contact .form-container-two {
  width: 500px;
}

.form-container input {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 2rem;
  padding: 0rem 0.3rem;
  outline: none;
  font-size: 1rem;
  border-radius: 6px;
}

.form-container textarea {
  margin-bottom: 0.7rem;
  width: 100%;
  height: 12rem;
  padding: 0.2rem 0.3rem;
  outline: none;
  font-size: 1.07rem;
  border-radius: 6px;
}

.form-container button {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  color: white;
  background-color: rgba(41, 227, 41, 0.707);
  outline: none;
  cursor: pointer;
}

.form-container button:hover {
  transition: 0.8s;
  font-size: 1.04rem;
  background-color: rgba(41, 227, 41, 0.85);
}