.contact {
  width: 100%;
  height: 100vh;
  position: relative;
}

.contact img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.contact .overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.contact .form-container {
  padding-left: 33%;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.contact h1 {
  font-size: 4.3rem;
  font-weight: 700;
  font-family: "dancing script";
  margin-bottom: 0.1rem;
}
